<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--注意#{}取字符串 防止sql注入  ${}取属性get 不能防止注入 -->
<mapper namespace="com.gek.mapper.UserMapper">
    <insert id="addUser">
        insert into
        t_user (id,username,password,enabled,realname,level,group_name)
        values
        (#{id},#{username},#{password},#{enabled},#{realname},#{level},#{groupname});
    </insert>

    <delete id="deleteByPrimaryId" parameterType="long">
        DELETE FROM t_user WHERE id=#{id}
    </delete>

    <update id="updateUser">
      update
          t_user
      SET
          username=#{username},
          password = #{password},
          enabled = enabled,
          realname = #{realname},
          level = #{level},
          group_name = #{groupname}
      where
      id = #{id} ;
    </update>

    <select id="findByUsername" resultType="com.gek.pojo.User">
        SELECT
          *
        FROM
          t_user
        WHERE
          username=#{username};
    </select>

    <select id="findAll" resultType="com.gek.pojo.User">
        SELECT
          id,username,password,enabled,realname,`level`,createTime,group_name
        FROM
          t_user
    </select>
    <select id="findByPrimaryKey" resultType="com.gek.pojo.User" parameterType="long">
        SELECT
          id,username,password,enabled,realname,`level`,createTime,group_name
        FROM
          t_user
        WHERE
         id=#{id}
    </select>

</mapper>